.login {
  padding: 20px 8%;
  background-image: linear-gradient(#0000007e, #0000007e),
    url("/background_banner.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 100%;
  max-width: 450px;
  padding: 3rem;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  color: white;
  text-align: center;
}

.login-form img {
  width: 150px;
  margin-bottom: 1rem;
}

.login-form input {
  width: 100%;
  height: 50px;
  background-color: #333;
  border-radius: 4px;
  margin: 12px 0;
  outline: 0;
  border: 0;
  padding: 0.3rem;
  font-size: 16px;
  color: white;
}

.login-form button {
  width: 100%;
  height: 50px;
  background-color: #E50914;
  color: white;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #e50914;
}
.login-form input::placeholder{
  font-size: 16px;
  font-weight: 500;
}
.form-help{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b3b3b3;
  font-size: 13px;
}
.remember{
  display: flex;
  align-items: center;
  gap: 5px;

}
.remember input{
  width: 18px;

}
.form-switch{
  margin-top: 40px;
  color: #737373;
}
.form-switch span{
  margin-left: 6px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
}
.loading-spinner{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-items: center;
  justify-content: center;
}
.loading-spinner img{
  width: 60px;
  height: 60px;
}