.home{
    width: 100%;
    height: 100vh;


}
.hero{
    position: relative;
}
.banner{
    width: 100%;
    position: relative;
    height: 100vh;
    mask-image: linear-gradient(to right , transparent , black 75%);
}
.hero-caption{
    position: absolute;
    padding-left: 6%;
width: 100%;
    bottom: 20px;
}

.hero-caption p{
    max-width: 700px;
font-size: 17px;
}

.hero-caption .cap{
    margin-bottom: 20px;
}
.hero-btns{
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}
.hero-btns img{
    width: 25px;
}
.hero-btns button{
    border: 0;
    outline: 0;
    padding: 4px 20px;
    display: inline-flex;
    align-items: center;
    gap:10px;
    font-size: 15px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;

}
.hero-btns .dark{
    color: #fff;
    background-color: #6d6d6d6d;
}
.more-cards{
    padding: 6%;
}
@media (max-width: 1024px){
    .hero-caption .title-cards{
        display: none;
    }
    .hero-btns{
        margin-bottom: 30px;
    }
}
@media (max-width: 800px){
    .hero-caption{
        padding-left: 4%;
    }
    .hero-caption p{
font-size: 12px;
margin-bottom: 10px;    }
}
