.footer{
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
}
.footer .footer-icons{
    display: flex;
    gap: 20px;
    margin: 40px 0;

}
.footer-icons img{
    width: 30px;
    cursor: pointer;
}
.footer ul{
    display: grid;
    grid-template-columns: repeat(4 ,auto);
    gap: 15px ;
    list-style: none;

    margin-bottom: 30px;
}
.footer .copy-right{
    color: gray;
    font-size: 14px;

}